body{
    background-image:url(images.jpeg);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    margin: 50px 0px;
    padding: 0px;
}
.row{
    text-align:center;
    justify-content:flex-end;
    
}
#name{
    text-align:center;
    justify-content:center;
}

.select{
    text-align: center;
    justify-content:center;
}
.label{
     text-align: center;
     justify-content: center;
}
 .submit{
     justify-content:space-around;
 }