body{
    background-image:url(images.jpeg);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    margin: 50px 0px;padding: 0px;
}
.row{
    text-align: center;
    justify-content: center;
    padding-right: 20px;
}
#name{
    text-align: center;
    justify-content: center;
}

.label{
    text-align: center;
    justify-content: center;
}
 